.lds-dual-ring {
  display: inline-block;
}
.ring {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.ring.ring-black {
  border-color: black transparent black transparent;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
