<mat-list>
  <!-- <mat-list-item routerLink="{{ routes.TYPOGRAPHY }}" routerLinkActive="active">
    <mat-icon>text_fields</mat-icon> Typography
  </mat-list-item> -->
  <!-- <mat-list-item routerLink="{{ routes.TABLES }}" routerLinkActive="active">
    <mat-icon>group</mat-icon> Users
  </mat-list-item> -->
  <mat-list-item
    routerLink="{{ routes.ROOMSBOOKED }}"
    routerLinkActive="active"
  >
    <mat-icon><span class="material-symbols-outlined"> domain </span></mat-icon>
    Rooms booked
  </mat-list-item>
  <mat-list-item routerLink="{{ routes.ROOMS }}" routerLinkActive="active">
    <mat-icon
      ><span class="material-symbols-outlined">
        room_preferences
      </span></mat-icon
    >
    Rooms
  </mat-list-item>
  <mat-list-item routerLink="{{ routes.CATEGORIES }}" routerLinkActive="active">
    <mat-icon
      ><span class="material-symbols-outlined"> category </span></mat-icon
    >
    Categories
  </mat-list-item>
  <mat-list-item routerLink="{{ routes.AMENITIES }}" routerLinkActive="active">
    <mat-icon
      ><span class="material-symbols-outlined"> interests </span></mat-icon
    >
    Amenities
  </mat-list-item>
</mat-list>
